@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*======= Mixins =======*/

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin easeTransition{
    transition: all .5s ease-in;
    
}

@mixin smallScreen{
    @media (max-width: 735px){
        @content;
    }
}
/*======= End of Mixins =======*/

/*======= Variables =======*/

$primary-color: #000;
$secondary-color: #fff;
$grey: #222;

/*======= End of Variables =======*/

/*======= Global Styles =======*/

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: $secondary-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    background: $primary-color;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    position: relative;
    cursor: grab;
}

h1, h2, h3 {
    font-weight: 600;
    font-size: 3.5rem;
}

h1{
    font-size: 5.5rem;
}
h2{
    font-size: 3.5rem;
}
h3 {
    font-size: 2.5rem;
}

button{
    cursor: pointer;
    background: none;
    border: 0;
    outline: 0;
    color: inherit;
}
a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*======= End of Global Styles =======*/



/*======= Page Transition =======*/

.transition {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    z-index: 100;
    pointer-events: none;

    @include flexCenter(row);

    transform: translateX(-100%);
    @include easeTransition();

    .transition-icon{

        .bx {
            font-size: 15rem;
            animation: ring-ring .5s infinite ease;
        }
    }
}

.is-active{
    left: 0;
    transform: translateX(0);
}

.transition-2 {
    right: -100%;
    left: 0;

    // animation: open-left-right .5s ease;
    transform: translateX(100%);
}

.is-active2 {
    right: 0;
    transform: translateX(0);
}

/*======= End of Page Transition =======*/



/*======= Header =======*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.nav-menu {
    text-align: right;

    &__btn {
        @extend h2;
        padding: 2.5rem;
    }
}

.nav{
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;

    background-color: $secondary-color;
    padding: 2.5rem;
    height: 100vh;
    width: 80%;
    color: $primary-color;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    @include easeTransition();

    .logo{
        display: none;
    }

    .nav-exit-menu-btn{
        @extend h2;
        align-self: flex-end;
    }

    .nav-list{
        text-transform: lowercase;
        
        .nav-item{
            @extend h2;
            margin-block: 2rem;
            position: relative;
            padding-bottom: .3rem;

            &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 10%;
                    width: 0%;
                    background-color: $secondary-color;
                    @include easeTransition();
                }
            &:hover{
                &::after{
                    width: 105%;
                }
            }

            a{
                color: inherit;
            }
        }
        
    }

    &.open {
        right: 0;
        @include easeTransition();
    }

    //media queries
    @include smallScreen(){
        width: 100%;
    }
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 105%;
    height: 10%;
    width: 105%;
    background-color: $secondary-color;
}


/*======= End of Header =======*/



/*======= Video Sliders =======*/

.video-slider{
    height: 100%;
    width: fit-content;

    .slider-container{
        display: grid;
        grid-auto-flow: row;
        cursor: pointer;

        .slider-card {
                width: 100%;
                height: 100%;
                position: relative;
        
                &__vid {
                    width: 100%;
                    height: 100%;
                    @include easeTransition();
                }
        
                .vid-dim {
                    filter: brightness(25%);
                }
        
                &__info {
                    position: absolute;
                    top: 40%;
                    padding-left: 3rem;
        
                }
        
        
            }
    }

    .slider-card{
        width: 100%;
        height: 100%;
        position: relative;

        &__vid {
            width: 100%;
            height: 100%;
            @include easeTransition();
        }

        .vid-dim{
            filter: brightness(25%);
        }

        .card__info{
            position: absolute;
            top: 40%;
            padding-left: 3rem;
            
        }

        
    }

}

/*======= End of Video Sliders =======*/

/*======= Contact =======*/
.contact-section{
    width: 100vw;
    height: 100vh;
}

.contact {
    @include flexCenter(row);
    gap: 2rem;
    width: 100%;
    height: 100%;

    &__img{
        flex: 1;
    }

    &__info {
        flex: 1;
        @include flexCenter(column);
        align-items: flex-start;
        gap: 2.5rem;

        &-title{
            font-size: 15rem;
            color: $grey;
            position: relative;
            left: -50%;
        }

        &-socials{
            @include flexCenter(row);
            justify-content: left;
            gap: 1rem;

            a {

                .bx {
                    font-size: 2rem;
                    color: $secondary-color;
                }
            }
        }

        p {
            font-size: 2rem;
        }
    }
}

/*======= End of Contact =======*/

/*======= Media queries =======*/

@media (min-width: 1025px) {
    
    body {
        height: 100vh;
    }

    //Nav Menu
    .nav-menu{
        display: none;
    }

    .nav {
        background: none;
            right: 0;
            flex-direction: row;
            color: $secondary-color;
            padding: 4rem;
            width: 100%;
            height: fit-content;
        
            .logo {
                display: unset;
                width: 7vw;
                cursor: pointer;
            }
        
            .nav-list {
                display: flex;
                gap: 1rem;
        
                .nav-item {
                    margin: 0;
                    font-size: inherit;
                }
            }
        
            .nav-footer,
            .nav-exit-menu-btn {
                display: none;
            }
    }

    //Horizontal scroll bar
    ::-webkit-scrollbar {
        height: 0.5vh;
    }

    ::-webkit-scrollbar-track {
        background: $grey;
        border-radius: 10px;
        margin-inline: 35vw;
    }

    ::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 10px;
    }


    //Video Slider
    .video-slider {
        @include flexCenter(row);
        height: 90%;
        overflow-x: scroll;

        .slider-container {
            grid-auto-flow: column;
            grid-auto-columns: 37%;

            .slider-card{
                &__info {
                        top: 100%;
                
                        &-title {
                            font-size: 2.5rem;
                            margin-top: 1.5rem;
                            margin-bottom: .8rem
                        }
                
                        h3 {
                            color: $grey;
                            font-size: 1.7rem;
                        }
                    }
            }
        }
    }

    //Contact Page
    .contact-section{
        @include flexCenter(row);
        align-items: flex-end;
    }

    .contact{
        width: 80%;
        height: 93%;

        &__img {
                img{
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }

        &__info {
            &-title {
                    left: -33%;
                }
        }
    }
}

//Animations
@keyframes ring-ring {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}
